.cta {
  min-height: calc(100vh - 56px);
  background-color: rgb(50, 57, 65);
  background-image: url(../public/cta.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: white;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  &__title {
    font-size: 1.75rem;
    white-space: pre-line;
    font-weight: bold;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.25rem;
  }

  &__link {
    @include button-size(1rem);
    color: white;
    background-color: $secondary-color;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
  }

  &__image {
    display: none;
  }

  @include media('>sm') {
    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }
  @include media('>=md') {
    &__info {
      gap: 2rem;
    }

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 2.25rem;
    }
  }

  @include media('>lg') {
    &__info {
      gap: 2rem;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__image {
      position: relative;
      display: block;
    }

    &__title {
      font-size: 2.5rem;
      text-align: left;
    }

    &__subtitle {
      font-size: 2rem;
      text-align: left;
    }

    &__link {
      @include button-size(1.15rem);
      width: fit-content;
      margin: 0rem auto 0rem 0rem;
    }
  }

  @include media('>lg') {
    &__info {
      gap: 2rem;
    }

    &__title {
      font-size: 3rem;
      text-align: left;
    }

    &__subtitle {
      font-size: 2rem;
      text-align: left;
    }
  }

  @include media('>2xl') {
    &__grid {
      gap: 0rem;
    }

    &__title {
      font-size: 4rem;
    }

    &__subtitle {
      font-size: 2.75rem;
    }

    &__link {
      @include button-size(1.25rem);
    }
  }
}
