.cta {
  background-color: rgb(50, 57, 65);
  color: white;

  // text-align: center;
  // text-align: center;

  &__boundary {
  }

  &__content {
    margin: auto 0rem;
    padding: 2rem 0rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: red;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: bold;
  }

  &__link {
    padding: 0.5rem 0rem;
    background-color: $secondary-color;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }

  &--newline {
    white-space: pre-line;
  }
}
