.cta {
  background-color: rgb(50, 57, 65);
  background-image: url(../public/cta.jpg);
  // background-size: contain;
  background-position: bottom;
  color: white;
  height: 45vh;
  position: relative;

  &__imagewrapper {
    display: none;
  }

  &__boundary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1.25rem;
  }

  &__link {
    padding: 0.5rem 0rem;
    background-color: $secondary-color;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
  }

  &--newline {
    white-space: pre-line;
  }

  @include media('>=md') {
    height: 60vh;
    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__link {
      padding: 1rem 0rem;
      font-size: 1.5rem;
    }
  }

  @include media('>lg') {
    // height: 50vh;

    height: 80vh;

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 2rem;
    }
    &__content {
      width: 90%;
    }

    &__link {
      width: 40%;
    }
  }
  @include media('>xl') {
    // height: 50vh;

    &__imagewrapper {
      display: block;
      position: absolute;
      width: 375px;
      right: 0;
      transform: translate(0%, 50%);
    }

    height: 80vh;

    &__title {
      font-size: 4rem;
    }

    &__subtitle {
      font-size: 3rem;
    }
    &__content {
      width: 70%;
    }

    &__link {
      width: 40%;
    }
  }
}
