.destinationsGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;

  @include media('>sm') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    // gap: 2rem;
  }

  @include media('>md') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
  @include media('>xl') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    // gap: 2rem;
  }
}

.destinationscard {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  border: 2px solid lightgray;

  &__title {
    font-weight: bold;
  }

  &__description {
    font-weight: normal;
  }

  &__button {
    background-color: $secondary-color;
    text-align: center;
    color: white;
    padding: 0.25rem 0rem;
    border-radius: 10px;
    font-weight: bold;
    height: 1.25rem;
  }
}

.payment {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  font-weight: normal;
  border: lightgray solid 2px;
  gap: 0.5rem;
  font-size: 1rem;

  &__date {
    // font-weight: bold;
  }
  &__organization {
    font-weight: bold;
  }

  &__link {
    background-color: green;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 0.25rem 0rem;
    font-weight: bold;
  }
}

.paymentgrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;

  @include media('>=md') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
