.destinationsGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;

  @include media('>md') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

  @include media('>xl') {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }

  @include media('>2xl') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    // gap: 2rem;
  }
}

.destinationscard {
  // display: grid;
  // grid-template-columns: repeat(1, minmax(0, 1fr));
  // gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &__imageWrapper {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__description {
    font-weight: 400;
    margin-bottom: 2rem;
    // margin: 0rem 0rem auto 0rem;
  }

  &__button {
    background-color: $secondary-color;
    text-align: center;
    color: white;
    @include button-size(1rem);
    border-radius: 10px;
    margin: auto 0rem 0rem 0rem;
    height: fit-content;
  }

  @include media('>=md') {
    &__description {
      // min-height: 9rem;
    }
  }

  @include media('>lg') {
    &__description {
      // min-height: 15rem;
    }
  }

  @include media('>xl') {
    &__description {
      // min-height: 14rem;
    }
  }

  @include media('>2xl') {
    &__description {
      // min-height: 11rem;
    }
  }
}

.payment {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  font-weight: 400;
  border: lightgray solid 2px;
  gap: 0.5rem;
  font-size: 1rem;

  &__organization {
    font-weight: 700;
  }

  &__link {
    background-color: $secondary-color;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 0.25rem 0rem;
    font-weight: 700;
  }
}

.paymentgrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  // min-height: 70vh;

  @include media('>=md') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
