.destinationsGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;

  @include media('>sm') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    // gap: 2rem;
  }

  @include media('>md') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
  @include media('>xl') {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    // gap: 2rem;
  }
}

.destinationscard {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;

  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  // box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  //   0 2px 4px -1px rgba(0, 0, 0, 0.06);
  // box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  //   0 4px 6px -2px rgba(0, 0, 0, 0.05);
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  // border: 2px solid lightgray;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  // border: 2px solid lightgrey;

  &__title {
    font-weight: bold;
    margin: 0rem 0rem auto 0rem;
  }

  &__description {
    font-weight: normal;
  }

  &__button {
    background-color: $secondary-color;
    text-align: center;
    color: white;
    @include button-size(1rem);
    border-radius: 10px;
    margin: auto 0rem 0rem 0rem;
    height: fit-content;
    // width: fit-content;
    // margin: 0rem 0rem 0rem auto;
  }

  @include media('>sm') {
    &__description {
      min-height: 22rem;
      font-weight: normal;
    }
  }

  @include media('>=md') {
    &__description {
      min-height: 13rem;
      font-weight: normal;
    }
  }

  @include media('>lg') {
    &__description {
      min-height: 11rem;
      font-weight: normal;
    }
  }
}

.payment {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  font-weight: normal;
  border: lightgray solid 2px;
  gap: 0.5rem;
  font-size: 1rem;

  &__organization {
    font-weight: bold;
  }

  &__link {
    background-color: $secondary-color;
    border-radius: 10px;
    text-align: center;
    color: white;
    padding: 0.25rem 0rem;
    font-weight: bold;
  }
}

.paymentgrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  // min-height: 70vh;

  @include media('>=md') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
