.mobilefooter {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  // margin-top: 1rem;

  &__containerList {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightskyblue;
  }

  &__containerTab {
    display: flex;
    justify-content: space-between;
  }

  &__containerHeader {
    padding: 0.75rem 0rem;
    color: white;
    // font-weight: bold;
    // color: red;
  }

  // &__content {
  // }

  &__list {
    overflow: hidden;
  }

  &__item {
    color: white;
    top: 0;
    height: 0;
    opacity: 0;
    font-size: 0.8rem;
    list-style: square;
    list-style-position: inside;
  }

  &__symbol {
    display: block;
    margin: auto 0rem;
    position: relative;
    width: 3px;
    height: 15px;
    cursor: pointer;
    background-color: $primary-color;
    pointer-events: all;
    // background-color: red;
  }

  &__vertical,
  &__horizontal {
    display: flex;
    position: absolute;
    width: 100%;
    background-color: white;
    height: 100%;
    pointer-events: none;
  }

  &__horizontal {
    // background-color: red;
    transform-origin: center center;
    transform: rotate(90deg);
  }

  &__icon {
    display: block;
    margin: auto 0rem;
    color: white;
    font-size: 2.5rem;
    line-height: 0.75rem;
    cursor: pointer;
  }
}

.expand {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.expand-content {
  padding: 0.25rem 0rem 2rem 0rem;
}

.expand-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}
