.section {
  padding: 2rem 0rem;
  font-weight: 700;

  &--testimonial {
    background-color: hsl(0, 0%, 95%);
  }

  &__header {
    margin-bottom: 1rem;
    font-size: clamp(1rem, 5vw, 1.75rem);
  }
}

.mapSection {
  margin-bottom: 1rem;
}

.map,
.mapWrapper,
.map__locations {
  height: 300px;
}
.mapWrapper {
  // padding: 1rem;
  margin: 1rem auto;
  width: 100%;
}

.pin {
  width: 20px;
  cursor: pointer;
}

.citybox {
  padding: 0.5rem 1rem;
  border: 2px solid $secondary-color;
  outline: 2px solid $primary-color;
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 228, 224, 1);
}

.cityname {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 1.25rem;
  text-align: center;
  margin: 0rem auto;
  // font-weight: 500;
}

.citylink {
  background-color: $secondary-color;
  color: white;
  font-weight: 600;
  @include button-size(0.75rem);
  border-radius: 10px;
  text-align: center;
  // width: fit-content;
  // margin: 0.25rem auto 0rem auto;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.map__locations {
  // background-color: rgb(50, 50, 50);
  background-color: $primary-color;
  width: 35%;
  overflow-y: scroll;
  scrollbar-width: thin;

  scrollbar-color: $primary-color;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3px;
}

.map__item {
  all: unset;
  background-color: rgb(117, 207, 240);
  padding: 0.3rem 0rem;
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
}

// .map {
//   // padding: ;
//   // margin-bottom: 1rem;
// }

.destination {
  &__titleContainer {
    padding: 0.5rem 0rem;
    // background-color: lightgray;
  }

  &__imagegrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  &__location {
    font-weight: 700;
    font-size: clamp(1.75rem, 3vw, 2.5rem);
  }

  &__attractionContent {
    padding: 0rem 0.15rem;
  }

  &__item {
    font-size: 0.75rem;
  }

  &__list {
    list-style: square;
    list-style-position: inside;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    background-color: rgb(240, 238, 234);
    padding: 1rem 0rem 1rem 1.5rem;
    // border-radius: 10px;
    margin: 1rem auto;
    border: 2px solid $secondary-color;
    outline: 2px solid $primary-color;
  }

  &__showButton {
    display: block;
    background-color: $secondary-color;
    color: white;
    border-radius: 10px;
    @include button-size(1rem);
    font-weight: 700;
  }

  @include media('>sm') {
    &__item {
      font-size: 0.85rem;
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  @include media('>=md') {
    &__imagegrid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;
    }

    &__imagesecond {
      display: block;
    }
    &__imagethird {
      display: block;
    }

    &__fourththird {
      display: block;
    }
  }
}
