.person {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;

  &__name {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__bio {
    white-space: pre-line;
    margin-bottom: 1rem;
  }

  &__email {
    background-color: $secondary-color;
    @include button-size(1rem);
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: fit-content;
  }

  &__quote {
    font-style: italic;
    margin-bottom: 1rem;
  }

  @include media('>=lg') {
    &__content {
      min-height: 43rem;
    }
  }

  @include media('>xl') {
    &__content {
      min-height: 35rem;
    }
  }

  @include media('>2xl') {
    &__content {
      min-height: 26rem;
    }
  }
}

.personGrid {
  display: grid;
  grid-template-columns: repeat(1, fr);
  gap: 2rem;
  margin-bottom: 2rem;

  @include media('>=lg') {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
