.responsive-width {
  width: 90%;
  margin: auto;
  // @include media('>768px'){
  //     width: 80%;
  // }
  @include media('>lg') {
    max-width: 80%;
  }

  @include media('>3xl') {
    max-width: 110rem;
  }
}

.responsive-width-half {
  width: 90%;
  margin: auto;
  @include media('>sm') {
    width: 70%;
  }
  @include media('>md') {
    width: 50%;
  }
  @include media('>3xl') {
    max-width: 110rem;
  }
}

// .tapContainer {
//   display: flex;
//   flex-direction: column;
//   // @include media('>s'){
//   //     background-color: red;
//   //     display: grid;
//   //     grid-template-columns: repeat(2, minmax(0, 1fr));
//   // }
//   @include media('>s') {
//     gap: 1.25rem;
//     display: grid;
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//   }
//   @include media('>=m') {
//     gap: 1.25rem;
//     grid-template-columns: repeat(3, minmax(0, 1fr));
//   }
//   @include media('>lg') {
//     gap: 1.25rem;
//     grid-template-columns: repeat(4, minmax(0, 1fr));
//   }

//   @include media('>xl') {
//     gap: 1.25rem;
//     // grid-template-columns: repeat(5, minmax(0, 1fr));
//   }
// }

// .tapcard {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 2rem;
//   padding: 1.5rem;
//   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
//     0 2px 4px -1px rgba(0, 0, 0, 0.06);
//   border-radius: 10px;

//   &__image {
//     margin: 0rem auto;
//     max-width: 8rem;
//   }

//   &__description {
//     font-size: 1rem;
//   }

//   &__button {
//     display: block;
//     background-color: darkgreen;
//     text-align: center;
//     color: white;
//     text-decoration: none;
//     padding: 0.5rem;
//     border-radius: 10px;
//   }

//   :not(:first-child) {
//     margin-top: 0.75rem;
//   }

//   @include media('>s') {
//     margin-bottom: 0rem;
//   }

//   @include media('>=m') {
//     &__image {
//       max-width: 6rem;
//     }

//     &__description {
//       font-size: 0.75rem;
//     }
//   }

//   @include media('>lg') {
//     &__image {
//       max-width: 7rem;
//     }
//   }

//   @include media('>xl') {
//     &__image {
//       max-width: 8rem;
//     }
//   }
// }
