body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 white;
  ::-webkit-scrollbar {
    width: 10px;
    background: white;
  }

  ::-webkit-scrollbar-thumb {
    background: #b3b3b3;
  }
}
