.responsive-width {
  width: 90%;
  margin: auto;
  // @include media('>768px'){
  //     width: 80%;
  // }
  @include media('>lg') {
    max-width: 90%;
  }

  @include media('>3xl') {
    max-width: 110rem;
  }
}

.responsive-width-half {
  width: 90%;
  margin: auto;
  @include media('>sm') {
    width: 70%;
  }
  @include media('>md') {
    width: 50%;
  }
  @include media('>3xl') {
    max-width: 110rem;
  }
}

.responsive-width-form {
  width: 90%;
  margin: auto;

  @include media('>=md') {
    max-width: 50rem;
  }
}

.responsive-width-footer {
  width: 90%;
  margin: auto;

  @include media('>lg') {
    max-width: 70%;
  }

  @include media('>xl') {
    max-width: 50%;
  }

  @include media('>3xl') {
    max-width: 60rem;
  }
}
