.testimonialGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  @include media('>sm') {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }

  @include media('>=md') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }

  // @include media('>lg') {
  //   grid-template-columns: repeat(2, minmax(0, 1fr));
  //   gap: 2rem;
  // }

  // display: flex;
  // flex-direction: column;

  // justify-content: space-between;
  // flex-wrap: wrap;
}

.testimonial {
  padding: 2rem;
  background-color: white;
  // border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  // width: 300px;

  &__citations {
    display: flex;
    flex-direction: column;
    margin: auto 0rem 0rem 0rem;
  }

  &__quote {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    min-height: 140px;
    max-height: 190px;
    overflow-y: auto;
  }

  &__author {
    margin: 0rem auto;
    text-align: center;
  }

  &__position {
    margin: 0rem auto;
    text-align: center;
  }
}
