// Colors
$primary-color: #1e3a8a;
$secondary-color: #ff7f00;
// $secondary-color: #f25b31;

// Navigation Bar Variables
$animationSpeed: 0.3s;
$hamburgerMove: 8.5px;

$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
