body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

.responsive-width {
  width: 90%;
  margin: auto;
}

@media (min-width: 1025px) {
  .responsive-width {
    max-width: 80%;
  }
}

@media (min-width: 2161px) {
  .responsive-width {
    max-width: 110rem;
  }
}

.responsive-width-half {
  width: 90%;
  margin: auto;
}

@media (min-width: 481px) {
  .responsive-width-half {
    width: 70%;
  }
}

@media (min-width: 769px) {
  .responsive-width-half {
    width: 50%;
  }
}

@media (min-width: 2161px) {
  .responsive-width-half {
    max-width: 110rem;
  }
}

.responsive-width-form {
  width: 90%;
  margin: auto;
}

@media (min-width: 481px) {
  .responsive-width-form {
    width: 90%;
  }
}

@media (min-width: 769px) {
  .responsive-width-form {
    width: 75%;
  }
}

@media (min-width: 1025px) {
  .responsive-width-form {
    width: 65%;
  }
}

@media (min-width: 1367px) {
  .responsive-width-form {
    width: 50%;
  }
}

@media (min-width: 2161px) {
  .responsive-width-form {
    max-width: 55rem;
  }
}

.section {
  padding: 2rem 0rem;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
}

.section--testimonial {
  background-color: #e6e6e6;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.mapSection {
  margin-bottom: 1rem;
}

.map,
.mapWrapper,
.map__locations {
  height: 300px;
}

.mapWrapper {
  margin: 1rem auto;
  width: 100%;
}

.pin {
  width: 20px;
  cursor: pointer;
}

.city {
  font-size: 0.75rem;
  background-color: #e6e4e0;
  padding: 0.2rem 0.4rem;
  border: 2px solid #ff7f00;
  outline: 2px solid #1e3a8a;
}

.hidden {
  display: none;
}

.map__locations {
  background-color: #1e3a8a;
  width: 35%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1e3a8a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 3px;
}

.map__item {
  all: unset;
  background-color: #75cff0;
  padding: 0.3rem 0rem;
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
}

.destination__titleContainer {
  padding: 0.5rem 0rem;
}

.destination__location {
  font-weight: bold;
  font-size: 1.75rem;
}

.destination__country {
  font-size: 1.25rem;
  font-weight: 500;
}

.destination__attractionContent {
  padding: 0rem 0.15rem;
}

.destination__item {
  font-size: 0.75rem;
}

.destination__list {
  list-style: square;
  list-style-position: inside;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.75rem;
  background-color: #f0eeea;
  padding: 1rem 0rem 1rem 1.5rem;
  margin: 1rem auto;
  border: 2px solid #ff7f00;
  outline: 2px solid #1e3a8a;
}

.destination__showButton {
  display: block;
  margin: 0rem auto;
  background-color: #ff7f00;
  color: white;
  border-radius: 10px;
  padding: 0.4rem 0rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 481px) {
  .destination__item {
    font-size: 0.85rem;
  }
  .destination__list {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

.navbar {
  height: 3.5rem;
  position: -webkit-sticky;
  position: sticky;
  background-color: #1e3a8a;
  top: 0;
  z-index: 3;
}

.navbar__boundary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1e3a8a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar__empty {
  height: 20px;
  width: 30px;
}

.navbar__hamburger {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 1;
}

.navbar__logo {
  width: 6rem;
}

.navbar__hb1, .navbar__hb2, .navbar__hb3 {
  height: 2.75px;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__payonline {
  background-color: #ff7f00;
  text-decoration: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.navbar__items {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1e3a8a;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-top: 3rem;
}

.navbar__links {
  display: block;
  padding: 0.75rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem auto;
  width: 90%;
}

@media (min-width: 769px) {
  .navbar {
    height: 3.5rem;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__logo {
    width: 6.5rem;
  }
  .navbar__items {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0rem;
  }
  .navbar__links {
    padding: 1rem;
    font-size: 1rem;
    color: white;
    border: none;
    width: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menutoggle .navbar__hb1 {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateY(8.5px) rotate(-45deg);
          transform: translateY(8.5px) rotate(-45deg);
}

.menutoggle .navbar__hb2 {
  opacity: 0;
}

.menutoggle .navbar__hb3 {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateY(-8.5px) rotate(45deg);
          transform: translateY(-8.5px) rotate(45deg);
}

.logowrapper {
  width: 4.5rem;
  margin: auto 0rem;
}

.mobilefooter {
  background-color: #1e3a8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobilefooter__containerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid lightskyblue;
}

.mobilefooter__containerTab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobilefooter__containerHeader {
  padding: 0.75rem 0rem;
  color: white;
}

.mobilefooter__list {
  overflow: hidden;
}

.mobilefooter__item {
  color: white;
  top: 0;
  height: 0;
  opacity: 0;
  font-size: 0.8rem;
  list-style: square;
  list-style-position: inside;
}

.mobilefooter__symbol {
  display: block;
  margin: auto 0rem;
  position: relative;
  width: 3px;
  height: 15px;
  cursor: pointer;
  background-color: #1e3a8a;
  pointer-events: all;
}

.mobilefooter__vertical, .mobilefooter__horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  background-color: white;
  height: 100%;
  pointer-events: none;
}

.mobilefooter__horizontal {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobilefooter__icon {
  display: block;
  margin: auto 0rem;
  color: white;
  font-size: 2.5rem;
  line-height: 0.75rem;
  cursor: pointer;
}

@media (min-width: 769px) {
  .mobilefooter {
    display: none;
  }
}

.expand {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.expand-content {
  padding: 0.25rem 0rem 2rem 0rem;
}

.expand-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}

.cta {
  background-color: #323941;
  background-image: url(../public/cta.jpg);
  background-position: bottom;
  color: white;
  height: 45vh;
  position: relative;
}

.cta__boundary {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cta__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

.cta__title {
  font-size: 1.75rem;
  font-weight: bold;
}

.cta__subtitle {
  font-size: 1.25rem;
}

.cta__link {
  padding: 0.5rem 0rem;
  background-color: #ff7f00;
  color: white;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
}

.cta--newline {
  white-space: pre-line;
}

@media (min-width: 768px) {
  .cta {
    height: 60vh;
  }
  .cta__title {
    font-size: 3rem;
  }
  .cta__subtitle {
    font-size: 2rem;
  }
  .cta__link {
    padding: 1rem 0rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
  .cta {
    height: 60vh;
  }
  .cta__title {
    font-size: 3rem;
  }
  .cta__subtitle {
    font-size: 2rem;
  }
  .cta__content {
    width: 90%;
  }
  .cta__link {
    width: 40%;
  }
}

@media (min-width: 1367px) {
  .cta {
    height: 70vh;
  }
  .cta__title {
    font-size: 4rem;
  }
  .cta__subtitle {
    font-size: 3rem;
  }
  .cta__content {
    width: 70%;
  }
  .cta__link {
    width: 40%;
  }
}

.typeGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 481px) {
  .typeGrid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 1025px) {
  .typeGrid {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}

.type {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  border: 2px solid #1e3a8a;
  border-radius: 10px;
  background-color: white;
}

.type__icon {
  width: 12rem;
  margin: 0rem auto;
}

.type__header {
  display: block;
  margin: 0rem auto;
  font-size: 0.9rem;
  text-align: center;
}

.type__imageWrapper {
  width: 7.5rem;
  margin: 0rem auto;
}

@media (min-width: 481px) {
  .type__imageWrapper {
    width: 10rem;
  }
  .type__header {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .type__imageWrapper {
    width: 10rem;
  }
  .type__header {
    width: 100%;
  }
}

@media (min-width: 1367px) {
  .type__imageWrapper {
    width: 12rem;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.location__header {
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  color: white;
  font-weight: bold;
}

.location__link {
  padding: 0.35rem 0.75rem;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ff7f00;
  color: white;
  border-radius: 20px;
  margin: 1rem;
}

.locationGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 481px) {
  .locationGrid {
    gap: 2rem;
  }
}

@media (min-width: 1025px) {
  .locationGrid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.destinationsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 481px) {
  .destinationsGrid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 769px) {
  .destinationsGrid {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 1367px) {
  .destinationsGrid {
    -ms-grid-columns: (minmax(0, 1fr))[4];
        grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.destinationscard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  padding: 1rem;
  border: 2px solid lightgray;
}

.destinationscard__title {
  font-weight: bold;
}

.destinationscard__description {
  font-weight: normal;
}

.destinationscard__button {
  background-color: #ff7f00;
  text-align: center;
  color: white;
  padding: 0.25rem 0rem;
  border-radius: 10px;
  font-weight: bold;
  height: 1.25rem;
}

.payment {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  font-weight: normal;
  border: lightgray solid 2px;
  gap: 0.5rem;
  font-size: 1rem;
}

.payment__organization {
  font-weight: bold;
}

.payment__link {
  background-color: green;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 0.25rem 0rem;
  font-weight: bold;
}

.paymentgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .paymentgrid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.testimonialGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 481px) {
  .testimonialGrid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .testimonialGrid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 1367px) {
  .testimonialGrid {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
  }
}

.testimonial {
  padding: 2rem;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.testimonial__citations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial__quote {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
}

.testimonial__author {
  margin: 0rem auto;
  text-align: center;
}

.testimonial__position {
  margin: 0rem auto;
  text-align: center;
}

.contactheader {
  margin: 1rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.contactheader__title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}

.contactheader__subtitle {
  text-align: center;
}

.form {
  border: 1px solid lightgrey;
  padding: 0.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.form__input {
  outline: 1px solid lightgrey;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  resize: none;
  padding: 0.15rem 0.2rem;
}

.form__inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__label {
  font-size: 0.75rem;
}

.form__button {
  background-color: #ff7f00;
  color: white;
  border-radius: 10px;
  padding: 0.75rem 0rem;
  font-weight: bold;
  font-size: 1rem;
}

.form__required {
  color: red;
}
/*# sourceMappingURL=main.css.map */