body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #b3b3b3 white;
}

html ::-webkit-scrollbar {
  width: 10px;
  background: white;
}

html ::-webkit-scrollbar-thumb {
  background: #b3b3b3;
}

.responsive-width {
  width: 90%;
  margin: auto;
}

@media (min-width: 1025px) {
  .responsive-width {
    max-width: 90%;
  }
}

@media (min-width: 2161px) {
  .responsive-width {
    max-width: 110rem;
  }
}

.responsive-width-half {
  width: 90%;
  margin: auto;
}

@media (min-width: 481px) {
  .responsive-width-half {
    width: 70%;
  }
}

@media (min-width: 769px) {
  .responsive-width-half {
    width: 50%;
  }
}

@media (min-width: 2161px) {
  .responsive-width-half {
    max-width: 110rem;
  }
}

.responsive-width-form {
  width: 90%;
  margin: auto;
}

@media (min-width: 768px) {
  .responsive-width-form {
    max-width: 50rem;
  }
}

.responsive-width-footer {
  width: 90%;
  margin: auto;
}

@media (min-width: 1025px) {
  .responsive-width-footer {
    max-width: 70%;
  }
}

@media (min-width: 1367px) {
  .responsive-width-footer {
    max-width: 50%;
  }
}

@media (min-width: 2161px) {
  .responsive-width-footer {
    max-width: 60rem;
  }
}

.section {
  padding: 2rem 0rem;
  font-weight: 700;
}

.section--testimonial {
  background-color: #f2f2f2;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.mapSection {
  margin-bottom: 1rem;
}

.map,
.mapWrapper,
.map__locations {
  height: 300px;
}

.mapWrapper {
  margin: 1rem auto;
  width: 100%;
}

.pin {
  width: 20px;
  cursor: pointer;
}

.citybox {
  padding: 0.5rem 1rem;
  border: 2px solid #ff7f00;
  outline: 2px solid #1e3a8a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e6e4e0;
}

.cityname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  margin-right: 1.25rem;
  text-align: center;
  margin: 0rem auto;
}

.citylink {
  background-color: #ff7f00;
  color: white;
  font-weight: 600;
  padding: 0.5625rem 1.125rem;
  font-size: 0.75rem;
  border-radius: 10px;
  text-align: center;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

.map__locations {
  background-color: #1e3a8a;
  width: 35%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #1e3a8a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 3px;
}

.map__item {
  all: unset;
  background-color: #75cff0;
  padding: 0.3rem 0rem;
  font-size: 0.7rem;
  text-align: center;
  cursor: pointer;
}

.destination__titleContainer {
  padding: 0.5rem 0rem;
}

.destination__imagegrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.destination__location {
  font-weight: 700;
  font-size: 1.75rem;
}

.destination__country {
  font-size: 1.25rem;
  font-weight: 500;
}

.destination__attractionContent {
  padding: 0rem 0.15rem;
}

.destination__item {
  font-size: 0.75rem;
}

.destination__list {
  list-style: square;
  list-style-position: inside;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  background-color: #f0eeea;
  padding: 1rem 0rem 1rem 1.5rem;
  margin: 1rem auto;
  border: 2px solid #ff7f00;
  outline: 2px solid #1e3a8a;
}

.destination__showButton {
  display: block;
  background-color: #ff7f00;
  color: white;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 481px) {
  .destination__item {
    font-size: 0.85rem;
  }
  .destination__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .destination__imagegrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .destination__imagesecond {
    display: block;
  }
  .destination__imagethird {
    display: block;
  }
  .destination__fourththird {
    display: block;
  }
}

.navbar {
  height: 3.5rem;
  position: -webkit-sticky;
  position: sticky;
  background-color: #1e3a8a;
  top: 0;
  z-index: 3;
}

.navbar__boundary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1e3a8a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navbar__empty {
  height: 20px;
  width: 30px;
}

.navbar__hamburger {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  width: 30px;
  cursor: pointer;
  z-index: 1;
}

.navbar__logo {
  width: 6rem;
}

.navbar__logogrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__companyname {
  margin-left: 1rem;
  color: white;
  font-size: 2rem;
  margin: auto 0rem auto 0rem;
}

.navbar__hb1, .navbar__hb2, .navbar__hb3 {
  height: 2.75px;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__payonline {
  background-color: #ff7f00;
  text-decoration: none;
  padding: 0.5rem;
  color: white;
  font-weight: 700;
}

.navbar__items {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1e3a8a;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-top: 3rem;
}

.navbar__links {
  display: block;
  padding: 0.75rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem auto;
  width: 90%;
}

@media (min-width: 769px) {
  .navbar {
    height: 3.5rem;
  }
  .navbar__hamburger {
    display: none;
  }
  .navbar__logo {
    width: 6.5rem;
  }
  .navbar__items {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 0rem;
  }
  .navbar__links {
    padding: 1rem;
    font-size: 1rem;
    color: white;
    border: none;
    width: auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menutoggle .navbar__hb1 {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateY(8.5px) rotate(-45deg);
          transform: translateY(8.5px) rotate(-45deg);
}

.menutoggle .navbar__hb2 {
  opacity: 0;
}

.menutoggle .navbar__hb3 {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateY(-8.5px) rotate(45deg);
          transform: translateY(-8.5px) rotate(45deg);
}

.logowrapper {
  width: 4.5rem;
  margin: auto 0rem;
}

.footer {
  background-color: #1e3a8a;
  padding: 3rem 0rem;
}

.footer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem auto;
  text-align: center;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.footer__category {
  color: #ff7f00;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer__link {
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

.footer__link:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__copyright {
  margin-top: 3rem;
  color: white;
  text-align: center;
  display: block;
}

@media (min-width: 769px) {
  .footer__grid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
  .footer__section:not(:last-child) {
    margin-right: 6rem;
  }
}

.cta {
  min-height: calc(90vh - 112px);
  background-color: #323941;
  background-image: url(../public/cta.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  color: white;
}

.cta__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.cta__title {
  font-size: 1.75rem;
  white-space: pre-line;
  font-weight: 700;
  text-align: center;
}

.cta__subtitle {
  text-align: center;
  font-size: 1.25rem;
}

.cta__link {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: white;
  background-color: #ff7f00;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
}

.cta__image {
  display: none;
}

@media (min-width: 481px) {
  .cta__title {
    font-size: 2.25rem;
  }
  .cta__subtitle {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .cta__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .cta__image {
    position: relative;
    display: block;
  }
  .cta__info {
    gap: 2rem;
  }
  .cta__title {
    font-size: 1.8rem;
    text-align: left;
  }
  .cta__subtitle {
    font-size: 1.7rem;
    text-align: left;
  }
  .cta__link {
    padding: 0.8625rem 1.725rem;
    font-size: 1.15rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0rem auto 0rem 0rem;
  }
}

@media (min-width: 1025px) {
  .cta {
    min-height: calc(100vh - 56px);
  }
  .cta__info {
    gap: 2rem;
  }
  .cta__title {
    font-size: 2.5rem;
    text-align: left;
  }
  .cta__subtitle {
    font-size: 2rem;
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .cta__info {
    gap: 2rem;
  }
  .cta__title {
    font-size: 2.8rem;
    text-align: left;
  }
  .cta__subtitle {
    font-size: 2rem;
    text-align: left;
  }
}

@media (min-width: 1644px) {
  .cta__grid {
    gap: 0rem;
  }
  .cta__title {
    font-size: 4rem;
  }
  .cta__subtitle {
    font-size: 2.75rem;
  }
  .cta__link {
    padding: 0.9375rem 1.875rem;
    font-size: 1.25rem;
  }
}

.typeGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (min-width: 481px) {
  .typeGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1025px) {
  .typeGrid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.type {
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  border: 2px solid #1e3a8a;
  border-radius: 10px;
  background-color: white;
}

.type__icon {
  width: 12rem;
  margin: 0rem auto;
}

.type__header {
  display: block;
  margin: 0rem auto;
  font-size: 0.9rem;
  text-align: center;
}

.type__imageWrapper {
  width: 7.5rem;
  margin: 0rem auto;
}

@media (min-width: 481px) {
  .type__imageWrapper {
    width: 10rem;
  }
  .type__header {
    width: 100%;
  }
}

@media (min-width: 1025px) {
  .type__imageWrapper {
    width: 10rem;
  }
  .type__header {
    width: 100%;
  }
}

@media (min-width: 1367px) {
  .type__imageWrapper {
    width: 12rem;
  }
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.location__header {
  font-size: 1rem;
  padding: 1rem;
  position: absolute;
  color: white;
  font-weight: 700;
}

.location__link {
  padding: 0.5625rem 1.125rem;
  font-size: 0.75rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ff7f00;
  color: white;
  border-radius: 10px;
  margin: 1rem;
}

@media (min-width: 481px) {
  .location__link {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .location__header {
    font-size: 1.25rem;
  }
}

.locationGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 481px) {
  .locationGrid {
    gap: 2rem;
  }
}

@media (min-width: 1025px) {
  .locationGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.destinationsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 769px) {
  .destinationsGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1367px) {
  .destinationsGrid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 1644px) {
  .destinationsGrid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.destinationscard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.destinationscard__imageWrapper {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.destinationscard__title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.destinationscard__description {
  font-weight: 400;
  margin-bottom: 2rem;
}

.destinationscard__button {
  background-color: #ff7f00;
  text-align: center;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  margin: auto 0rem 0rem 0rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.payment {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  font-weight: 400;
  border: lightgray solid 2px;
  gap: 0.5rem;
  font-size: 1rem;
}

.payment__organization {
  font-weight: 700;
}

.payment__link {
  background-color: #ff7f00;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 0.25rem 0rem;
  font-weight: 700;
}

.paymentgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .paymentgrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.testimonialGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 481px) {
  .testimonialGrid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .testimonialGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.testimonial {
  padding: 2rem;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.testimonial__citations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0rem 0rem 0rem;
}

.testimonial__quote {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  overflow-y: auto;
}

.testimonial__author {
  margin: 0rem auto;
  text-align: center;
}

.testimonial__position {
  margin: 0rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  .testimonial__quote {
    min-height: 8.75rem;
  }
}

.contactheader {
  margin: 1rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.contactheader__title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.contactheader__subtitle {
  text-align: center;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
}

.person__name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.person__bio {
  white-space: pre-line;
  margin-bottom: 1rem;
}

.person__email {
  background-color: #ff7f00;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0rem 0rem 0rem;
}

.person__quote {
  font-style: italic;
  margin-bottom: 2rem;
}

.personGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .personGrid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.form {
  background-color: white;
  position: relative;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem 0rem;
  border-radius: 10px;
}

.form__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 0rem auto;
}

.form__inputgroup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 0.25rem;
}

.form__errormessage {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.form__radiogroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border: 1px solid darkgray;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form__radioinput {
  accent-color: #1e3a8a;
  margin-right: 0.2rem;
  background-color: white;
}

.form__radiolabel {
  font-weight: 400;
  color: #1e3a8a;
  padding: 0.5rem;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  color: #1e3a8a;
  font-weight: 500;
}

.form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 10px;
  background-color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid darkgray;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.form__input:focus {
  border: 1px solid #1e3a8a;
  background-color: #b3cee2;
}

.form--textarea {
  resize: vertical;
  font-family: 'Montserrat', sans-serif;
}

.form__statusgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  gap: 0.25rem;
}

.form__iconblock {
  margin: auto 0rem;
}

.form__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ff7f00;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  -ms-grid-column-align: end;
      justify-self: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.error {
  min-height: 80vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__message {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 2rem 0rem;
}

.error__button {
  background-color: #ff7f00;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 500;
}

@media (min-width: 481px) {
  .error__message {
    font-weight: 700;
    font-size: 2rem;
    margin: 2rem 0rem;
  }
}
